_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

.Rproj.user
.Rhistory

_source/cache/
_source/data/ebird-county/CAN_adm.gpkg
_source/data/snowfall
_source/data/inaccessibility
.RData
